.item-1 {
  background-color: #2C9168;
  height: 100px;
  border-radius: 5px;
  padding: 5px;
  color: white;
  font-weight: bold;
  text-align: center;
}

.item-2 {
  background-color: #9FD3C3;
  height: 100px;
  border-radius: 5px;
  padding: 5px;
  color: white;
  font-weight: bold;
  text-align: center;
}

.item-3 {
  background-color: #55B296;
  height: 100px;
  border-radius: 5px;
  padding: 5px;
  color: white;
  font-weight: bold;
  text-align: center;
}

.item-4 {
  background-color: #E7B013;
  height: 100px;
  border-radius: 5px;
  padding: 5px;
  color: white;
  font-weight: bold;
  text-align: center;
}

.item-5 {
  background-color: #0F3342;
  height: 100px;
  border-radius: 5px;
  padding: 5px;
  color: white;
  font-weight: bold;
  text-align: center;
}
